body {
   font-family: Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

.question p {
  margin: 0;
}

.generate button {
  width: 500px;
  padding: 15px;
  background-color: #e06a55;
  color: #223134;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 1em;
  border-style: none;
}

.response {
  width: 500px;
  background-color: #bee0f1;
  min-height: 250px;
  padding-bottom: 20px;
  clear: both;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.question, .answer {
  color: #3a869b;
  padding: 10px 10px 0 10px;
}

.question {
  font-size: 1.5em;
}

.answer {
  font-size: 1.2em;
}

.save, .loop-thru-saved-questions, .clear-local-storage {
  background-color: #f2a038;
  width: 140px;
  padding: 5px;
  text-align: center;
  float: left;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-user-select:none;
}

.loop-thru-saved-questions {
  width: 200px;
  margin-left: 140px;
}

/*LOAD QUESTIONS*/
.question-import {
  clear: both;
}

#questions-input-area, #load-questions {
  display: none;
}

/*http://dribbble.com/shots/1075965-Contest-Icons?list=popular&offset=12*/
/*http://dribbble.com/shots/1065110-Fox?list=popular&offset=124*/